<!-- form-result.html -->
<html xmlns:th="http://www.thymeleaf.org">

    <div class="form-group details-group">
        <label th:for="amount">Amount</label>
        <input type="number" class="form-control text-input input-lg details-input" name="amount" ng-model="formData.amount">
    </div>

    <div class="form-group details-group">
        <label th:for="date">Date</label>
        <input type="text" class="form-control text-input input-lg details-input datepicker" name="date" ng-model="formData.date">
        {{ formData.date }}
    </div>

    <div class="form-group details-group">
        <label th:for="note">Note</label>
        <input type="text" class="form-control text-input input-lg details-input datepicker" name="note" ng-model="formData.note">
        {{ formData.note }}
    </div>

    <div class="submit-button">
        <button type="submit" form="budget-form" value="Submit" class="btn btn-primary submit-button">Submit</button>
    </div>

    <script src="js/amount.js"></script>
</html>