<!-- form-result.html -->
<html xmlns:th="http://www.thymeleaf.org">
    <div class="form-group details-group">
        <label th:for="amount">Amount</label>
        <input type="number" class="form-control text-input input-lg details-input" name="amount" ng-model="formData.amount">
    </div>

    <div class="input-group date details-group">
        <label th:for="date">Date</label>
        <input type="text" class="form-control text-input input-lg details-input" name="amount" ng-model="formData.amount">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
</html>