<html xmlns:th="http://www.thymeleaf.org">
    <!-- form-profile.html -->


    <div class="container-fluid">
        <div class = "row">
            <div class = "col-4">
                <button id="home" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 1">
                    <i class="material-icons">home</i>
                </button>
            </div>
            <div class = "col-4">
                <button id="groceries" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 2">
                    <i class="material-icons">shopping_cart</i>
                </button>
            </div>
            <div class = "col-4">
                <button id="travel" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 3">
                    <i class="material-icons">flight_takeoff</i>
                </button>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <button id="utilities" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 4">
                    <i class="material-icons">lightbulb_outline</i>
                </button>
            </div>
            <div class = "col">
                <button id="restaurant" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 5">
                    <i class="material-icons">restaurant</i>
                </button>
            </div>
            <div class = "col">
                <button id="homeware" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 6">
                    <i class="material-icons">weekend</i>
                </button>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
                <button id="entertainment" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 7">
                    <i class="material-icons">tv</i>
                </button>
            </div>
            <div class = "col">
                <button id="laundry" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 8">
                    <i class="material-icons">local_laundry_service</i>
                </button>
            </div>
            <div class = "col">
                <button id="misc" ui-sref="form.amount" type="button" class="btn btn-raised btn-primary btn-responsive" ng-click="formData.category = 9">
                    <i class="material-icons">more_horiz</i>
                </button>
            </div>
        </div>
    </div>
</html>