.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.app-container {
    margin: auto;
    text-align: center;
    max-width: 1500px;
}

body {
    background: #B3E5FC;
}

.center {
    margin: auto;
}

.btn-primary {
    background: #0288D1;
    margin: 30px;
}

.icon {
    width: 50%;
    height: auto;
}

.form-group {
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
}

.text-input {
    width: 40%;
}

.form-container {
    width: 100%
}

/* BASIC STYLINGS
============================================================================= */

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:25px; margin-right:60px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:100px; margin:0 auto 10px; padding-top:30px; width:100px;
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }

@media (max-width: 539px) {
  .btn-responsive {
    padding:2px 4px;
    line-height: 1;
    border-radius:3px;
  }
  .material-icons {
      font-size: 80px;
    }
  .btn-primary {
    margin: 10px;
  }
}

@media (min-width: 540px) and (max-width: 739px) {
  .btn-responsive {
    padding: 4px 9px;
    line-height: 1.2;
  }
  .material-icons {
      font-size: 110px;
  }

}

@media (min-width: 740px) and (max-width: 899px) {
  .btn-responsive {
    padding: 4px 9px;
    line-height: 1.2;
  }
  .material-icons {
      font-size: 150px;
  }

}

@media (min-width: 900px) {
  .btn-responsive {
    padding: 4px 9px;
    line-height: 1.2;
  }
  .material-icons {
      font-size: 180px;
  }

}

#form-container {
    float: none;
    margin: 0 auto;
}

.details-group {
    font-size: 40px;
}

.details-input {
    font-size: 60px;
    height: 100px;
    width: 80%;
}