<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Household Budget App</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">

    </nav>
    <div th:replace="${template}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="/js/picker.js"></script>
    <script src="/js/picker.date.js"></script>
</body>