<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

    <head>
        <title class="center">Household Budget</title>
    </head>

    <body>
        <script src="/js/angular.min.js"></script>
        <script src="/js/ui_router.min.js"></script>
        <script src="/js/budget_controller.js"></script>
        <script src="/js/category.js"></script>
        <div class="app-container">
            <div ng-app="BudgetApp">
                <div ng-controller="BudgetController">
                    <form id="budget-form" ng-submit="processForm()">

                        <!-- our nested state views will be injected here -->
                        <div id="form-views" ui-view></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
